<form class="form" (ngSubmit)="onSubmit(form)" #form="ngForm" >
    <label for="imgPath">Image Path</label>
  <input type="text" id="imgPath" ngModel name="imagePath">
  <label for="fileTitle">File Title</label>
  <input type="text"
         id="fileTitle"
         [ngClass]="{'required': !fileTitle.valid && fileTitle.touched}"
         ngModel
         name="fileTitle"
         required
         #fileTitle="ngModel">
  <p *ngIf="!fileTitle.valid && fileTitle.touched">Please enter a proper title.</p>
  <label for="filePath">File Path</label>
<!--The pattern is for Windows drives, this is for my own personal use.-->
  <input type="text"
         id="filePath"
         class="required"
         ngModel
         [ngClass]="{'required': !filePath.valid && filePath.touched}"
         name="filePath"
         required
         pattern="^(?:[A-Z]:)\\((\b\w+\b)?\\)+?(\w+).mp4"
         #filePath="ngModel">
  <p *ngIf="!filePath.valid && filePath.touched">Please enter a proper file path.</p>
  <button type="submit" [disabled]="!form.valid">Add new file</button>
</form>
<!--This is for testing purposes.-->
<div class="submitted" *ngIf="isSubmitted">
  <hr>
  <h2>Is this correct?</h2>
  <ul>
    <li>Image path: {{ video.imgPath }}</li>
    <li>File Title: {{ video.fileTitle }} </li>
    <li>File Path:  {{ video.filePath}}</li>
  </ul>
</div>
