.form{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
  width: 30%;
  box-shadow: 5px 5px  5px rgba(0, 0, 0, .3);
  margin: 18px auto;
}
label {
  text-align: center;
  padding: 15px 0;
}
input{
  margin: 0 10px;
  border-radius: 3px;
}
.ng-invalid input {
  border: 1px solid red;
}
.ng-invalid button {
  background-color: rgba(0, 0, 139, .4);
  cursor: not-allowed;
}
button{
  margin: 15px 10px 10px 10px;
  padding: 3px;
}
button:hover{
   background-color: #2e609c;
 }
p {
  text-align: center;
  background-color: salmon;
  border: 1px solid red;
  color: white;
  margin: 5px 9px;
}
